.modal {
    text-align: center;
    margin: 5rem auto;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.reveal {
    height: fit-content;
    width: auto;
    margin: auto 0.5rem;
}

.modal-content div {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding: 0.5rem;
}