@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    background-color: #161616;
    color: #D0D0D0;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
}